.footer {
    background-color: #8b5e34;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons i {
    margin: 0 10px;
    cursor: pointer;
  }
  